import { {{pascalCase name}}Props } from "./{{name}}";

const {{pascalCase name}} = ({ className="" }:{{pascalCase name}}Props) => {

  return (
    <div className={`{{name}} ${className}`}>
      {{name}} component
    </div>
  );
};

export default {{pascalCase name}};
